// Colors
$white: #ffffff;
$white-opacity: rgba(255, 255, 255, 0.03);
$black: #212121;
$black-opacity: rgba(33, 33, 33, 0.2);
$grey-dark: #e4e4e4;
$grey: #e5e5e5;
$grey-light: #f8f8f8;
$green: #428a60;

//fonts
$base-font: "Montserrat", "Arial", sans-serif;
